/* Base styles from your class file */
html, body {
  font-family: "Source Sans Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 20px;
}

#reading-list {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
}

#reading-list li {
  display: flex;
  flex-direction: column; 
  padding: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  
}

#reading-list img {
  width: 150px;          
  height: auto;
  margin-top: 15px;
  display: block;
}
